<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to  "nagano cake", root_path %></h5>
  <% if customer_signed_in? %>
   
  <nav class="my-2 my-md-0 mr-md-3">
   
    <a class="p-3 text-dark"> <%= link_to  "マイページ", my_page_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "商品一覧", items_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "カート", cart_items_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "ログアウト", destroy_customer_session_path, method: :delete %></a>
    
     
        <%= form_with url: items_path, method: :get do |f| %>
          <%= f.text_field :item_name, placeholder: "Search", class: "offset-4 mr-3 mt-3" %>
        <%= f.submit "検索" %>
        <% end %>
    
   
    
  </nav>
  
  <% else %>
  
<nav class="my-2 my-md-0 mr-md-3">
   
    <a class="p-3 text-dark">  <%= link_to  "About", about_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "商品一覧", items_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "新規登録", new_customer_registration_path %></a>
    <a class="p-3 text-dark" > <%= link_to  "ログイン", new_customer_session_path %></a>
  
      <%= form_with url: items_path, method: :get do |f| %>
        <%= f.text_field :item_name, placeholder: "Search", class: "offset-4 mr-3 mt-3"  %>
      <%= f.submit "検索" %>
      <% end %>


  </nav>

<% end %>

</div>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>