<%= render 'admin/customers/list', admins: @admins %>
<h3>商品新規登録</h3>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @item, url: admin_items_path do |f| %>

<p>商品画像</p>

<%= f.file_field :image, accept: "image/*" %>

<p>商品名</p>

<%= f.text_field :name,placeholder: "商品名" %>

<p>商品説明</p>

<%= f.text_area :introduction,placeholder: "ここに説明文を記述します" %>

<p>ジャンル</p>

<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>

<p>税抜価格</p>

<%= f.number_field :price, min: 0, placeholder: "1000" %>円

<p>販売ステータス</p>

<%= f.radio_button :is_active, true %>
<%= f.label :is_active_true, "販売中" %>
<%= f.radio_button :is_active, false %>
<%= f.label :is_active_false, "販売停止中" %>

<%= f.submit "新規登録" %>

<% end %>