<%= render 'admin/customers/list', admins: @admins %>
    <%= form_with model: @item, url: admin_items_path do |f| %>
    
<div class="container">
  
  <h3 class="col-3 my-3">商品新規登録</h3>
  
  
  
    <% if @errors %>
    
      <ul>
        
        <% @errors.each do |error| %>
        
          <li><%= error %></li>
          
        <% end %>
        
      </ul>
      
    <% end %>
    
    <div class="row ">
  
  <div class="col-md-2 my-3">
  
    商品画像
    
  </div>   
  
  <div class="col-md-10 my-3">
    
    <%= f.file_field :image, accept: "image/*" %>
    
  </div>  
  
   <div class="col-md-2">
    
      商品名
    
   </div>   
   
   <div class="col-md-10"> 
   
     <%= f.text_field :name,placeholder: "商品名" %>
    
   </div>  
   
    <div class="col-md-2 my-3">
        
     商品説明
     
    </div>    
    
    <div class="col-md-10 my-3">
      
      <%= f.text_area :introduction,placeholder: "ここに説明文を記述します" %>
      
    </div>
    
    <div class="col-md-2">
    
      ジャンル
      
    </div>  
    
    <div class="col-md-10">
      
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      
    </div>
    
    <div class="col-md-2 my-3">
    
      税抜価格
      
    </div>   
    
     <div class="col-md-10 my-3">
      
      <%= f.number_field :price, min: 0, placeholder: "1000" %>円
      
     </div>  
    
    <div class="col-md-2">
    
      販売ステータス
    
    </div>    
    
    <div class="col-md-10">
      
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active_true, "販売中" %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active_false, "販売停止中" %>
      
    </div>    
      
      <%= f.submit "新規登録", class: "btn btn-success"%>
      
      <% end %>
      
    </div>  
    
    </div>
  
  </div>

</div>