<%= render 'admin/customers/list', admins: @admins %>



<%= form_with model: @customer, url: admin_customer_path do |f| %>


<div class="container -a">
  
    
    <h2 class="col-9 mb-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>
    
        <% if @customer.errors.any? %>
        
          <div>
            
            <h2><%= @customer.errors.count %> 個のエラーが発生してます</h2>
            
            <ul>
              
              <% @customer.errors.full_messages.each do |message| %>
              
                <li><%= message %></li>
                
              <% end %>
              
            </ul>
            
          </div>
          
          <% end %>
    
    <div class="row">
      
      <div class="col-8">
      
        <div class="row">
         
         <div class="col-md-3 my-3">
          
           会員ID
           
         </div> 
         
         <div class="col-md-9 my-3">
         
          <%= @customer.id %>

         </div>
         
          <div class="col-md-2">
            
           <%= f.label :last_name, "名前" %>
           
          </div>
          
          <div class="col-md-1">
              
             姓
             
          </div>
          
          <div class="col-md-3">
             
           <%= f.text_field :last_name %>
          
          </div>
          
          <div class="col-md-2 -b">
            
            名
              
          </div>
           
          <div class="col-md-3">
             
            <%= f.text_field :first_name %>
           
          </div>
          
          <div class="col-md-2 my-3">
            
            <%= f.label :last_name_kana, "フリガナ" %>
            
          </div>
          
          <div class="col-md-1 my-3">
              
            セイ
            
          </div>
          
          <div class="col-md-3 my-3">
            
            <%= f.text_field :last_name_kana %>
            
          </div>
          
          <div class="col-md-2 -b my-3">
            
            メイ
           
          </div>
           
          <div class="col-md-3 my-3">
            
            <%= f.text_field :first_name_kana %>
            
          </div>
          
          <div class="field col-md-3">
            
            <%= f.label :email %>
            
          </div>
          
          <div class="field col-md-9">
            
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              
          </div>
          
          <div class="col-md-3 my-3">
          
            <%= f.label :postal_code, "郵便番号" %>
            
          </div>
          
          <div class="col-md-9 my-3">
            
            <%= f.text_field :postal_code %>
          
          </div>
          
          <div class="col-md-3 my-3">
            
            <%= f.label :address, "住所" %>
          
          </div>
          
          <div class="col-md-9 my-3">
            
            <%= f.text_field :address %>
          
          </div>
          
          <div class="col-md-3">
            
            <%= f.label :telephone_number, "電話番号" %>
          
          </div>
          
          <div class="col-md-9">
            
            <%= f.text_field :telephone_number %>
          
          </div>
          
          <div class="col-md-3 my-3">
           
           会員ステータス
           
          </div>
          
          <div class="col-md-9 my-3">
           
           <%= f.radio_button :is_active, true ,checked: true %>
           <%= f.label :is_active_true, "有効" %>
           <%= f.radio_button :is_active, false %>
           <%= f.label :is_active_false, "退会" %>

          </div>
           
          <div class="actions offset-3 mt-3">
            
            <%= f.submit "変更内容を保存", class: "btn btn-info" %>
            
          </div>
            
       
          
        
       </div>
        
     </div>
  
   </div>
  
</div>

<% end %>





