<%= render 'admin/customers/list', admins: @admins %>

<%= form_with model: @genre,url: admin_genre_path do |f| %>

<div class="container">

  <h3 class="col-3 my-3">ジャンル編集</h3>

   <% if @errors %>

        <ul>

          <% @errors.each do |error| %>

            <li><%= error %></li>

          <% end %>

        </ul>
  <% end %>

   <div class="row my-5">

    <div class="col-md-2 py-2">ジャンル名</div>

    <div class="col-md-2 py-2"><%= f.text_field :name, placeholder: "ジャンル名" %></div>

    <div class="col-md-8"><%= f.submit '変更を保存', class: "btn btn-success" %></div>

   </div>

 <% end %>