<%= render 'public/customers/list', customers: @customers %>
<%= form_with model: @address,url: addresses_path, method: :post do  |f| %> 
<div class="container">

  <h3 class="col-3 my-5">配送先/一覧</h3>
  
   <% if @errors %>

        <ul>

          <% @errors.each do |error| %>

            <li><%= error %></li>

          <% end %>

        </ul>
        
  <% end %>
    
  <div class="row">
  
 
    
    <div class="col-md-2">
      
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    </div>
    
    <div class="col-md-10">
      
      <%= f.text_field :postal_code, maxlength: 7, pattern: "\\d*" %>
    
    </div>
    
    <div class="col-md-2">
      
      <%= f.label:address_area, "住所" %>
      
    </div>   
    
    <div class="col-md-10">
      
      <%= f.text_field :address_area %>
      
    </div>  
    
    <div class="col-md-2">
      
      <%= f.label:addressee_name, "宛名" %>
      
    </div>  
    
    <div class="col-md-3">
    
      <%= f.text_field :addressee_name %>
      
    </div>
    
    <div class="col-md-6">
      
      <%= f.submit "新規登録", class: "btn btn-success" %>
      
    </div>
  
    
    <table class="table table-hover table-bordered col-md-6 mt-3">
    
    <thead>
      
      <tr class="table-active">
        
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
        
      </tr>
      
    </thead>
      
      <% @addresses.each do |name| %>
      
      <tbody>
        
        <tr>
          
          <td><%= name.postal_code %></td>
          <td><%= name.address_area %></td>
          <td><%= name.addressee_name %></td>
          <td class="text-center">
          <%= link_to "編集する", edit_address_path(name), class: "btn btn-success mr-2" %>  
          <%= link_to "削除する", addresses_path(name),method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
            
          </td>
          
        </tr>
        
      </tbody>
      
      <% end %>
      
    </table>
  
  </div>
    
</div>

<% end %>