<%= render 'public/customers/list', customers: @customers %>
<div class="container -a">
  
  <div class="row offset-1">
  
   <h2 class="col-md-2 mb-4 text-right -c">ログイン</h2>
   
  </div> 
  
   <div class="row offset-1">
       
     <h5 class="col-md-4 mb-4 text-center ml-4 -c">会員の方はこちらからログイン</h5>
     
   </div>  
   
  <div class="row offset-2 mt-3"> 
  
    
  
    <div class="col-8">
      
      
     
     
  
   
    
    <%= form_with model: @customer, url: customer_session_path do |f| %>
     <%= render "public/shared/error_messages", resource: resource %>
     <div class="row">
      <div class="field col-md-4">
        <%= f.label :email, "メールアドレス" %>
         </div>
        <div class="col-md-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "-w"  %>
      </div>
    
      <div class="field col-md-4 mt-2">
        <%= f.label :password, "パスワード" %>
      </div>
      <div class="col-md-8 mt-2">
        <%= f.password_field :password, autocomplete: "current-password", class: "-w" %>
      </div>
    
      <!--< if devise_mapping.rememberable? %>-->
      <!--  <div class="field col-md-12">-->
      <!--    <= f.check_box :remember_me %>-->
      <!--    <= f.label :remember_me %>-->
      <!--  </div>-->
      <!--< end %>-->
    <div class="row offset-4 my-4">
      <div class="actions col-md-8">
        <%= f.submit "ログイン", class: "btn btn-primary px-5" %>
      </div>
    </div>
    
    
    <% end %>
    
      </div> 
    
    </div>
    
  </div>
  
  <div class="col-md-12">
    <div class="row offset-1 mt-4">
      
      
      <div class="col-md-4 ml-4 -c">
        
        <h5>会員登録がお済みでない方</h5>
      
      </div>
      </div>
      
    </div>
    
    <div class="row offset-3 mt-4">
      
      
      <div class="col-md-5">
        
      <%= render "public/shared/links" %> から新規登録を行ってください。
      
      </div>
      
    </div> 
    
  
</div>
