<%= render 'public/customers/list', customers: @customers %>
<table>
  <tbody>
    <tr>
<% @genres.each do |genre| %>

  <td><%= link_to genre.name, items_path(genre_name: genre.name) %></td>

<% end %>
    </tr>
  </tbody>
</table>

<%= form_with model: @cart_item do |f| %>

<%= image_tag @item.get_image(100,100) %>

<%= @item.introduction %>

￥<%= (@item.price * 1.1).floor %>(税込)

<%= f.select :amount, *[1..10] %>

<%= f.hidden_field :item_id, :value => @item.id %>

<%= f.hidden_field :customer_id, :value => current_customer.id %>

<%= f.submit "カートに入れる" %>

<% end %>